@{
    Layout = null;
}
@model Construction.Web.Models.Product_HomeItemsViewModel
@using Construction.Web.Common
@using Construction.Domain.Helper
@{
    int itemPerRow = 3;
    decimal row = (decimal)Model.Items.Count / (decimal)itemPerRow;
    row = Math.Ceiling(row);
}
<div class="row">
    <div class="span12">
        <h1>Mẫu thiết kế</h1>
        @for (int i = 0; i < row; i++)
        {
            <ul class="posts-grid row-fluid unstyled gallery-home">
                @for (int j = 0; j < itemPerRow; j++)
                {
                    int index = itemPerRow * i + j;
                    if (index >= Model.Items.Count)
                    {
                        break;
                    }
                    <li class="span4">
                        <figure class="featured-thumbnail thumbnail">
                            <a href="@Url.RouteUrl("ProductDetail", new { alias = Model.Items[index].Alias, id= Model.Items[index].Id })" title="@Model.Items[index].Name">
                                <img data-src="@Url.ProductImgUrl(Model.Items[index].Thumbnail)" alt="@Model.Items[index].Name" style="width:390px; height:297px;">
                                <span class="zoom-icon"></span>
                            </a>
                        </figure>
                        <div class="clear"></div>
                        <div class="desc">
                            <div class="title-part">
                                <h5>
                                    <a href="@Url.RouteUrl("ProductDetail", new { alias = Model.Items[index].Alias, id= Model.Items[index].Id })" title="@Model.Items[index].Name">@Model.Items[index].Name</a>
                                </h5>
                                <p class="excerpt">@Html.Raw(WebUtility.HtmlDecode(@Model.Items[index].ShortDescription.LimitTo(100))) </p>
                            </div>
                            @*<div class="price">$343`000</div>*@
                        </div>
                    </li>
                }
            </ul>
        }
        <a href="@Url.RouteUrl("Product")" title="view all projects" class="btn btn-default btn-normal btn-inline btn-margin-top pull-right" target="_self">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i> Xem tất cả các mẫu thiết kế
        </a>
    </div>
</div>
<div class="clear"></div>