@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Construction.Web.Areas.Admin.Models.Product.ProductCrudViewModel
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title</h2>
                <ul class="nav navbar-right panel_toolbox">
                    @if (Model.Id > 0)
                    {
                        <li>
                            <a href="/admin/san-pham/them-moi"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Thêm</a>
                        </li>
                    }
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="form" action="/admin/san-pham/save" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    @Html.HiddenFor(p => p.Id)
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Tên dự án <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Name" name="Name" required="required" class="form-control col-md-7 col-xs-12" value="@Model.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Mô tả <span class="required">*</span>
                        </label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <textarea id="Description" name="Description" required="required">@WebUtility.HtmlDecode(Model.Description)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Meta KeyWord
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="MetaKeyWord" name="MetaKeyWord" class="form-control col-md-7 col-xs-12" value="@Model.MetaKeyWord">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Meta Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="MetaDescription" name="MetaDescription" class="form-control col-md-7 col-xs-12" rows="3">@Model.MetaDescription</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Kích hoạt
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.HiddenFor(p => p.Status)
                            @{
                                string _checked = Model.Active ? "checked" : "";
                            }
                            <input id="chk-status" data-onstyle="success" data-offstyle="danger" @_checked type="checkbox">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                            <a href="/admin/san-pham" class="btn btn-link"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Quay lại</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <button class="btn btn-primary" type="reset"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> làm mới</button>
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lưu</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Upload Files</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            360
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename" disabled="disabled" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Browse</span>
                                        <input type="file" accept="application/zip" id="File_360" name="File_360" />
                                    </div>
                                    <button type="button" class="btn btn-labeled btn-primary">
                                        <span class="glyphicon glyphicon-upload"></span>
                                        Upload
                                    </button>
                                </div>
                            </div>
                            <div class="js-upload-finished">
                                <div class="list-group">
                                    <div class="list-group-item list-group-item-success">

                                        <a href="#" class="btn-link pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                        image-01.jpg
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group update-view">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Thumbnail 390 x 297
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">

                            <div id="div-thumb" class="thumb-edit dropzone">
                                <div class="dz-message">
                                    <div class="drag-icon-cph">
                                        <i class="fa fa-4x fa-photo"></i>
                                    </div>
                                    <h3>Kéo thả hình ảnh.</h3>
                                    <em></em>
                                </div>
                                <div class="fallback">
                                    <input id="file_product_img_upload" name="file" type="file" accept="image/*" multiple />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var id = @Model.Id;
    $(function () {
        if (id > 0)
            $(".update-view").show()
        else
            $(".update-view").hide()

        $('#chk-status').bootstrapToggle({
            on: 'Kích hoạt',
            off: 'Khóa'
        });
        $('#chk-status').change(function () {
            if ($(this).prop('checked') == true)
                $("#Status").val(ACTIVE_TYPE.ACTIVE)
            else
                $("#Status").val(ACTIVE_TYPE.BLOCK)
        });

    })
    var editor = CKEDITOR.replace('Description');

    var myDropzone = new Dropzone("div#div-thumb", {
        autoProcessQueue: true,
        url: "/admin/san-pham/save-image",
        params: {id:id},
        acceptedFiles: "image/jpeg, image/jpg, image/png",
        parallelUploads: 1,
        maxFiles: 1,
        uploadMultiple: false,
        addRemoveLinks: true,
        thumbnailWidth: 250,
        thumbnailHeight: 250,
        init: function () {
            var thisDropzone = this;
            //if (listImage != null) {
            //    $.each(listImage, function (index, item) {

            //        var mockFile = {
            //            name: item.Name,
            //            id: item.Id,
            //            path: item.Path,
            //            //  size: 9000000,
            //            accepted: true,
            //            kind: 'image'
            //        };
            //        // Call the default addedfile event handler
            //        thisDropzone.options.addedfile.call(thisDropzone, mockFile);

            //        // And optionally show the thumbnail of the file:ss
            //        thisDropzone.files.push(mockFile);
            //        thisDropzone.createThumbnailFromUrl(mockFile, "images-handle/get-image?path=" + item.Path + "&w=240&h=240", function () {
            //            // thisDropzone.emit("complete", mockFile);
            //        }, "anonymous");
            //        thisDropzone.emit("success", mockFile);
            //        thisDropzone.emit("complete", mockFile);
            //        //    thisDropzone.uploadFiles([mockFile])

            //    });
            //}

        },
        //    removedfile: function (file, _) {
        //        $.ajax({
        //            type: "POST",
        //            url: "/images/delete-image",
        //            data: { id: file.id },
        //            dataType: "json",
        //            success: function (response) {
        //                if (response.StatusCode != 0)
        //                    showErrorMessage(response.StatusMessage, "#div-crud-modal");
        //                else {
        //                    showSuccessMessage(response.StatusMessage, "#div-crud-modal");
        //                    var _ref;
        //                    if (file.previewElement) {
        //                        if ((_ref = file.previewElement) != null) {
        //                            _ref.parentNode.removeChild(file.previewElement);
        //                        }
        //                    }
        //                }
        //            }
        //        });
        //        return this._updateMaxFilesReachedClass();
        //    },

    });
    myDropzone.on("maxfilesexceeded", function (file) {
        myDropzone.removeFile(file);
    });

    $(function() {
        // Create the close button
        var closebtn = $('<button/>', {
            type:"button",
            text: 'x',
            id: 'close-preview',
            style: 'font-size: initial;',
        });
        closebtn.attr("class","close pull-right");
        // Set the popover default content
        $('.image-preview').popover({
            trigger:'manual',
            html:true,
            title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
            content: "There's no image",
            placement:'bottom'
        });
        // Clear event
        $('.image-preview-clear').click(function(){
            $('.image-preview').attr("data-content","").popover('hide');
            $('.image-preview-filename').val("");
            $('.image-preview-clear').hide();
            $('.image-preview-input input:file').val("");
            $(".image-preview-input-title").text("Browse");
        });
        // Create the preview image
        $(".image-preview-input input:file").change(function (){
            var img = $('<img/>', {
                id: 'dynamic',
                width:250,
                height:200
            });
            var file = this.files[0];
            var reader = new FileReader();
            // Set preview image into the popover data-content
            reader.onload = function (e) {
                $(".image-preview-input-title").text("Change");
                $(".image-preview-clear").show();
                $(".image-preview-filename").val(file.name);
                //img.attr('src', e.target.result);
                //$(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
            }
            reader.readAsDataURL(file);
        });
    });

</script>
<script type="text/javascript">
    function initImageUpload(box) {
        let uploadField = box.querySelector('.image-upload');

        uploadField.addEventListener('change', getFile);

        function getFile(e){
            let file = e.currentTarget.files[0];
            checkType(file);
        }

        function previewImage(file){
            debugger;
            let thumb = box.querySelector('.js--image-preview'),
                reader = new FileReader();

            reader.onload = function() {
                thumb.style.backgroundImage = 'url(' + reader.result + ')';
            }
            reader.readAsDataURL(file);
            thumb.className += ' js--no-default';
        }

        function checkType(file){
            debugger;
            let imageType = /image.*/;
            if (!file.type.match(imageType)) {
                throw 'Datei ist kein Bild';
            } else if (!file){
                throw 'Kein Bild gewählt';
            } else {
                previewImage(file);
            }
        }

    }
</script>